@font-face {
  font-family: "Amita-Regular";
  src: url("font/Amita-Regular.ttf");
}
@font-face {
  font-family: "Inter-Bold";
  src: url("font/Inter-Bold.ttf");
}
@font-face {
  font-family: "Inter-Regular";
  src: url("font/Inter-Regular.ttf");
}
@font-face {
  font-family: "SecularOne-Regular";
  src: url("font/SecularOne-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to right,
    #0e4540,
    rgb(37, 37, 37) 65%,
    rgb(53 5 5)
  );
}
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.logo-name {
  font-family: "Amita-Regular";
  font-weight: 400;
  font-size: 35px;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.nav ul {
  display: flex;
  align-items: center;
}
.nav ul li {
  font-family: "SecularOne-Regular";
  font-weight: 400;
  font-size: 17px;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
  margin-left: 50px;
  list-style: none;
}
.nav ul li:hover {
  color: #1df659;
}
.hero-section {
  padding: 30px 215px 0px;
}
h1.background-text {
  font-family: "SecularOne-Regular";
  color: #00ff2ac7;
  font-size: 205px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  position: absolute;
  z-index: -1;
  top: 126px;
  left: 217px;
}
h1.outline-text {
  font-family: "SecularOne-Regular";
  font-size: 205px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 4px #fff;
  text-transform: uppercase;
  text-align: center;
}
.hero-section p {
  font-family: "Inter-Regular";
  font-weight: 400;
  font-size: 27px;
  color: #fff;
  width: 210px;
}
.hero-img img {
  width: 36%;
  object-fit: contain;
  position: absolute;
  top: 61px;
  left: 580px;
  z-index: -1;
}
.hero-section button {
  font-family: "Inter-Regular";
  font-weight: bold;
  font-size: 20px;
  background-color: #1df659;
  border: none;
  padding: 18px 24px;
  margin: 50px 0px 0px;
  cursor: pointer;
}
.hero-section button:hover {
  box-shadow: 0px 0px 20px 0px #1df659;
}
.hero-img::after {
  content: "";
  position: absolute;
  background-image: url(img/shape.png);
  background-repeat: no-repeat;
  top: 125px;
  right: 251px;
  width: 604px;
  height: 607px;
  z-index: -99;
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}
.detail-box-1 {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(40px);
  border-radius: 0px 70px 70px 0px;
  padding: 35px;
  width: 450px;
}
.detail-box-2 {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(40px);
  border-radius: 70px 0px 0px 70px;
  padding: 35px;
  width: 450px;
}
.details h4 {
  font-family: "Inter-Bold";
  font-weight: 700;
  color: white;
  font-size: 20px;
  text-transform: capitalize;
}
.details h6 {
  font-family: "Inter-Regular";
  font-weight: 400;
  color: white;
  font-size: 17px;
  padding: 20px 0px;
  /* width: 250px; */
  line-height: 27px;
  text-transform: capitalize;
}
.discover-btn {
  display: flex;
  align-items: center;
  gap: 20px;
}
.arrow {
  background-color: #1df659;
  padding: 10px 13px;
  border-radius: 31px;
  cursor: pointer;
  transition: 0.5s;
}
.arrow:hover {
  transform: translateX(10px);
}
.description h5 {
  font-family: "Inter-Regular";
  font-weight: 400;
  color: #1df659;
  font-size: 17px;
  text-transform: capitalize;
  cursor: pointer;
}
